*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Estilo header universal*/
/*
a {
    list-style-type: none;
    text-decoration: none;
}

#contenedor_sup_bar {
    display: block;
    position: static;
    background-color: grey;
    width: 100%;
    height: 50px;
}

nav div {
    display: inline-block;
}

.contenedor_buscar {
    height: 100%;
    width: 300px;
    border-right: 2px solid black;
}

.barra_buscar input {
    padding: 5px 10px;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 5px;
}

.barra_buscar button {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px;
}

.contenedor_lista {
    width: 100%;
    height: 40px;
    background-color: #DEA36C;
    text-align: center;
}


.contenedor_buscar button{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px;
}

.lista_des a{
    padding: 0 20px;
}

nav ul li {
    display: inline-block;
}

/* ------------------------------ */

/*Main Index*/
/*
.main_titulo h1 {
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
}
*/

/*Imagenes Index*/
/*
.contenedor_main {
    display: inline-block;
    
}

.contenedor_main div img {
    border: 2px solid black;
}

.main_imagen_1 img{
    width: 300px;
    height: 200px;
}
*/
/* -------------------- */


/*Footer Universal*/
/*
div form h3 {
    font-size: 20px;
    font-style:italic;
}
.faq li{
    display: block;
}
*/

/*----------------------------------------*/

/*Iniciar sesión*/
/*
#login {
    display: inline-block;
}

.login {
    padding: 15px;
    border-radius: 10px;
}

.login input{
    display: block;
    margin-bottom: 15px;
}
*/
/* -------------------- */

/*Main Contactos*/
/*
#contacto section{
    display: block;
}

.contacto {
    display: inline-block;
}

fieldset {
    padding: 10px;
    display: inline-block;
}

.label {
    padding: 2px;
}


h4 {
    display: inline;
}
*/

/* -------------------- */


/*Main Quienes somos*/
/*
.titulo-quienessomos h1 {
    text-decoration: underline ;
}


.nosotros_img {
    width: 200px;
    height: 200px;
    border: 2px solid grey;
}

.nosotros_p {
    width: 200px;
    text-align: center;
    display: inline-block;
    margin-top: 15px;
}

.nosotros {
    display: inline-block;
    width: 220px;
    height: 320px;
    padding: 15px;
}
*/

/* -------------------- */


/*Main Productos*/
/*
.productos_img img {
    display: inline-block;
    border: 2px solid slateblue;
    width: 250px;
    height: 250px;
    margin: 5px 10px;
}

.productos_img p {
    display: inline-block;
}

#productos {
    padding: 5px;
}

.lista_fragancias {
    border: 1px solid darkblue;
    border-style: double;
    width: 100px;
    margin-top: 10px;
}

#fragancias {
    padding: 10px;
}
*/

/* -------------------- */

/*aside universal provisional*/
/*
#aside {
    text-align: center;
    width: 200px;
    height: 550px;
    border: .5px solid red;
}

aside div p {
    display: inline-block;
    position: relative;
}
*/



/*segundo back up*/

/*
#index_contenedor header {
    grid-area: header;
    display: block;
    background-color: rgb(197, 164, 133);
  }
  #index_contenedor header .header {
    display: grid;
    height: 100%;
    align-content: space-between;
  }
  #index_contenedor header .header .contenedor_sup_bar {
    border: solid 1px black;
    margin-bottom: 5px;
    padding: 2px 0px;
    display: block;
    height: fit-content;
  }
  #index_contenedor header .header .contenedor_sup_bar .contenedor_sup_bar__2 {
    display: flex;
    justify-content: space-between;
  }
  #index_contenedor header .header .contenedor_sup_bar .contenedor_sup_bar__2 .contenedor_buscar {
    border-right: solid 2px black;
    display: grid;
    padding-right: 10px;
  }
  #index_contenedor header .header .contenedor_sup_bar .contenedor_sup_bar__2 .contenedor_info {
    display: flex;
    text-align: center;
  }
  #index_contenedor header .header .contenedor_sup_bar .contenedor_sup_bar__2 .contenedor_sesion {
    border-left: solid 2px black;
    margin-right: 50px;
    padding-left: 50px;
    display: flex;
  }
  #index_contenedor header .header .contenedor_logo {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  #index_contenedor header .header #lista {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #index_contenedor header .header #lista .lista_des {
    list-style-type: none;
    display: flex;
    margin: revert;
  }
  #index_contenedor header .header #lista .lista_des li {
    border-radius: 5px;
    margin: 0 75px;
    text-align: center;
  }
  #index_contenedor header .header #lista .lista_des li a {
    text-decoration: none;
    color: white;
  }
  #index_contenedor main {
    grid-area: productos;
    background-color: bisque;
  }
  #index_contenedor main section {
    height: 100%;
  }
  #index_contenedor main .contenedor_main {
    height: inherit;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% auto;
    justify-items: center;
    align-items: center;
  }
  #index_contenedor main .contenedor_main img {
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 200px;
    border: solid 2px black;
    display: flex;
  }
  #index_contenedor aside {
    grid-area: aside;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #index_contenedor footer {
    grid-area: footer;
    background-color: lightcoral;
  }
  #index_contenedor footer .redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #index_contenedor .main_imagen_1 a img {
    width: 500px;
    height: 250px;
  }
  */