* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.body_index {
  height: 200vh;
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 400px 1fr 300px;
  grid-template-areas:
    "header    header    header"
    "productos productos aside"
    "footer    footer    footer";
}


/* Estilo del Header */

.header {
  display: grid;
  grid-area: header;
  background-color: #dcbc8b;
  justify-items: center;
  align-content: space-between;
}


.contenedor_sup_bar {
  display: flex;
  width: 100vw;
  height: 50px;
  justify-content: space-between;
  border: 2px solid black;
  background-color: #c3a47b;
}

.contenedor_buscar {
  display: flex;
  padding: 0px 35px 0px 10px;
  border-right: 1.5px solid black;
  align-items: center;
}

.contenedor_buscar button i {
  width: 40px;
}

.contenedor_buscar button {
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #fff;
  cursor: pointer;
  margin-left: 30px;
}


.barra_buscar {
  width: 100%;
  max-width: 100%;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 2px 5px;
}

.barra_buscar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 5px 0px;
  font-size: 15px;
  color: #111;
}

::placeholder {
  color: #111;
}

.barra_buscar button i {
  width: 15px;
}

.barra_buscar button {
  border: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #fff;
  cursor: pointer;
}

.contenedor_info {
  display: flex;
  align-items: center;
}

.contenedor_sesion {
  display: flex;
  align-items: center;
  margin-right: 50px;
  border-left: 1.5px solid black;
  padding-left: 50px;
}

.contenedor_sesion .sesion a {
  text-decoration: none;
}

.barras_menu {
  color: #000;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
}

.contenedor_logo {
  display: flex;
  align-items: center;
}


#lista {
  height: fit-content;
  background-color: #c3a47b;
}


.contenedor_lista {
  display: grid;
  align-items: center;
  height: 65px;
  width: 100vw;
}


.lista_des {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.lista_des li a {
  text-decoration: none;
}

.nav {
  display: none;
}
/* ------------- Estilo del Main Index ------------ */

.main_index {
  display: grid;
  grid-area: productos;
  padding: 50px 0;
  justify-content: start;
}

.contenedor_main {
  display: grid;
  width: 95%;
  margin: auto;
  grid-gap: 30px;
}

.contenedor_main>div {
  border: 2px solid rgb(0, 0, 0, .5);
  padding: 5px 10px;
}

.img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-gap: 100px;
}

.contenedor_main img {
  width: 400px;
  vertical-align: top;
  height: 300px;
  object-fit: cover;
}

.parrafo_img {
  height: 150px;
  width: 350px;
}

/* -------------------- Estilo del Aside ------------------- */

.aside_index {
  display: grid;
  grid-area: aside;
  justify-items: center;
  align-items: center;
  padding: 50px 0;
}

.aside {
  display: flex;
  height: 90%;
  width: 90%;
  background-color: rgb(209, 174, 122);
  justify-content: center;
  align-items: center;
}

/* -------------------- Estilo del Footer ------------------- */

.footer {
  display: grid;
  grid-area: footer;
  grid-template-columns: auto auto auto;
  justify-items: center;
  align-items: center;
  background-color: beige;
}


.redes_gen form,
.faq_gen {
  display: grid;
  grid-template-rows: auto auto;
}

.faq_gen h2 {
  margin-left: 20px;
}

.redes_gen form h3 {
  margin-bottom: 20px;
}

.redes li,
.faq li {
  margin: 10px;
}


.footer_index ul,
.footer_index ul li a {
  text-decoration: none;
  list-style-type: none;
}

/* Responsive Index */

@media screen and (max-width: 1200px) {
  .body_index {
    height: 150vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 1fr 150px 200px;
    grid-template-areas:
      "header header header"
      "productos productos productos"
      "aside aside aside"
      "footer footer footer";
  }

  /*Responsive header general*/

  .contenedor_sup_bar {
    display: none;
  }

  .contenedor_lista {
    display: none;
  }

  


  /* --------------------------------- */

  
  .contenedor_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .img {
    display: flex;
    flex-flow: column;
    grid-gap: 15px;
  }

  .aside_index {
    padding: 0;
  }
}


/* --------------------- Contactos --------------------------- */

.body_contactos {
  height: 200vh;
  width: 100%;
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: 400px 1fr 300px;
  grid-template-areas:
    "header      header"
    "formularios formularios"
    "footer      footer";
}

.main_contactos {
  grid-area: formularios;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#contacto {
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: space-around;
}

.contacto {
  width: 400px;
  height: 200px;
}

.contacto form {
  border: 2px solid black;
  padding: 5px;
}

.contacto fieldset {
  display: grid;
  gap: 10px;
  padding: 10px;
}

.label {
  display: flex;
  flex-direction: column;
}

.contacto a {
  display: block;
  margin: 10px 0;
}

.contacto legend {
  text-decoration: underline;
}


.retiro {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}




/* ----------------- Productos ------------------ */

.body_productos {
  height: 200vh;
  width: 100%;
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: 400px 1fr 300px;
  grid-template-areas:
    "header      header"
    "formularios formularios"
    "footer      footer";

}

/* ----------------- Quienes Somos ---------------*/

.body_qs {
  height: 200vh;
  width: 100%;
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: 400px 1fr 300px;
  grid-template-areas:
    "header      header"
    "formularios formularios"
    "footer      footer";
}