* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Contenedos de página - Grid*/
#index_contenedor {
    min-height: 150vh;
    border: solid 2px black;
    background-color: whitesmoke;
    display: grid;
    grid-template-areas:
        "header header header"
        "productos productos aside"
        "productos productos aside"
        "footer footer footer";
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 400px 1fr 1fr 15%;
    grid-gap: 10px;


/*Contenedor Header*/
    header {
        grid-area: header;
        display: block;
        background-color: rgb(197, 164, 133);
        .header {
            display: grid;
            height: 100%;    
            align-content: space-between;
            .contenedor_sup_bar {
                border: solid 1px black;
                margin-bottom: 5px;
                padding: 2px;
                display: block;
                height: fit-content;

                .contenedor_sup_bar__2 {
                    display: flex;
                    justify-content: space-between;

                    .contenedor_buscar {
                        border-right: solid 2px black;
                        display: grid;
                        padding-right: 10px;
                    }

                    .contenedor_info {
                        display: flex;
                        text-align: center;
                    }

                    .contenedor_sesion {
                        border-left: solid 2px black;
                        margin-right: 50px;
                        padding-left: 50px;
                        display: flex;
                    }
                }
            }

            .contenedor_logo {
                display: flex;
                justify-content: center;
                align-content: center;
                flex-wrap: wrap;;
            }

            #lista {
                background-color: rgb(0, 0, 0, .5);
                height: 100%;
                width: 100vw;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .lista_des {
                    list-style-type: none;
                    display: flex;
                    margin: revert;
                }

                .lista_des li {
                    border-radius: 5px;
                    margin: 0 75px;
                    text-align: center;
                    
                }

                .lista_des li a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }



    main {
        grid-area: productos;
        background-color: bisque;
       
        section {
            height: 100%;
        }

        .contenedor_main{
            height: inherit;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% auto;
            justify-items: center;
            align-items: center;
        }


        .contenedor_main img {
            height: auto;
            width: auto;
            max-height: 200px;
            max-width: 200px;
            border: solid 2px black;
            display: flex;
            
        }
    }

    


    aside {
        grid-area: aside;
        background-color: lightblue;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer {
        grid-area: footer;
        background-color: lightcoral;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .main_imagen_1 {
        a {
            img {
                display: grid;
                width: 500px;
                height: 250px;
            }

        }
    }
}